div.reviewAddForm{
	padding-top:30px;
}

div.topAreaDiv {
	width:100%;
  height:460px;
}
div.topStatusbar {
  margin: 0px 0px 20px 0px;
  width:100%;
  height:40px;
}
div.topStatusLeftStatusbar {
	float:left;
	width: 50%;
	padding:0px 25px;
  height: 40px;
}
div.topStatusRightStatusbar {
  float:right;
  width: 50%;
  padding:0px 25px;
  height: 40px;
}
div.myCourseLoadDiv {
  float:left;
}
div.myCourseLoadText {
  margin: 10px 10px 10px 10px;
  float: right;
  font-size: 12px;
}
div.default.text {
  width: 100%;
}
div.dayCount {
	float:left;
	line-height: 20px;
}
div.innerDate {
  float:right;
  line-height: 20px;
}
div.dayReviewArea {
	width : 100%;
	height: 400px;
}

div.dayReviewLeftArea {
  width: 540px;
  height: 360px;
  margin: 20px 0px;
  float:left;
}
div.dayReviewRightArea {
  width: 540px;
  height: 360px;
  margin: 20px 0px;
  float:right;
}
div.titleArea {
	width :100%;
	height :40px;
	margin-bottom: 20px;
	
}
div.courseNameDiv {
  margin: 20px 0px 20px 0px;
  width:100%;
  height:40px;
}
div.reviewPlaceNamebar {
  width:100%;
}
div.showReviewPlaceNameArea {
	text-align:center;
  padding:25px;
}
div.showReviewPlaceName {
  display: inline-block;
  padding: 0 10px 0 10px;
}

div.mainContentArea {
  width:100%;
}
div.reviewPlace {
  background-color: #FFF6dd;
  padding: 10px 0px 10px 0px;
}
div.reviewPlaceLeftArea {
	margin: 10px;
  float:left;
  width: 540px;
  height: 360px;
}
div.reviewPlaceRightArea {
	margin: 10px;
  float:right;
  width: 520px;
  height: 360px;
  padding-top: 40px;
  padding-bottom: 80px;
}


div.reviewPlaceRemoveArea {
  height: 40px;
  width: 100%;
}
div.placeRemoveMinusArea {
	float: right;
	font-size: 14px;
  background: #eb5d1e;
  border-radius: 50px;
  margin: 5px;
  padding: 5px 10px;
  width: 80px;
  text-align: center;
}
div.reviewPlaceNameArea {
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  background: white;
}
div.reviewPlaceBasicAddrArea {
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  background: white;
}
div.reviewPlaceDetailAddrArea {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  background: white;
}



div.reviewAddrSearchIcon {
	float:right;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
	padding: 10px;
  width: 100%;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

div.reviewPlacePlusArea {
	margin: 20px 0px 20px 0px;
  width: 100%;
}

div.datePlus {
  padding:11px 16px;
}
div.myCourseContent {
	margin: 0px 50px;
}
div.dayContent {
  margin: 40px;
}
div.dayTopbar {
  height: 20px;
}
div.dayLeftTopbar {
	width:70%;
	float:left;
}
div.myCourseTitle {
  font-size: 20px;
}
div.dayRightTopbar {
	width:30%;
  float:right;
}
div.myCourseDayDate {
  font-size: 20px;
  float:left;
}
div.myCourseSelect {
  float:right;
}
div.dayMainContent {
	margin: 20px 50px;
	font-size: 12px;
}
div.myCoursePlaceAddr {
	margin: 10px 50px;
}

div.footerButton {
	min-height: 60px;
}
#loadCourseModal {
	max-height: calc(80vh - 0em);
	margin: 8vh 0px;
}

#exitButton {
	float:right;
}

#dropdown {
	float:right;
	height:40px;
	width:100px;
	font-size: 12px;
}

#button_calendar {
  height:40px;
  float:left;
}

#placeMainPhoto {
	float:right;
}

#placeAddrSearchButtonIcon {
	line-height: 40px;
	margin-right: 10px;
}

.ui.button {
  height: 40px;
  font-size: 12px;
  line-height: 25px;
}

.title {
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.mainReview {
  padding: 10px;
  height: 300px;
  width:100%;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.placeName {
  padding: 0 10px;
  height: 40px;
  width: 100%;
  border: 0;
  background: 0;
}

.basicAddr {
  padding: 0 10px;
  height: 40px;
  width: calc(100% - 56.53px);
  border: 0;
  background: 0;
}

.detailAddr {
  padding: 0 10px;
  height: 40px;
  width: 100%;
  border: 0;
  background: 0;
}

.placeReview {
  padding: 10px 10px 10px 10px;
  height: 580px;
  width: 100%;
}
.big.cloud.download.alternate.icon {
	line-height: 40px;
}
.minus.icon {
  padding-left:calc(100% - 16.52px);
  margin-right:0rem;
}
.plus.icon {
  padding-left: calc(calc(100% - 16.52px) / 2);
  margin:0px;
}

.dotOverlay {position:relative;bottom:10px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;font-size:12px;padding:5px;background:#fff;}
.dotOverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}    
.number {font-weight:bold;color:#ee6152;}
.label {color:#333;}
.dotOverlay:after {content:'';position:absolute;margin-left:-6px;left:50%;bottom:-8px;width:11px;height:8px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white_small.png')}
.distanceInfo {position:relative;top:5px;left:5px;list-style:none;margin:0;}
.distanceInfo .label {display:inline-block;width:50px;}
.distanceInfo:after {content:none;}

.modal {
    height: auto;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
}
